body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 50px;
    background-color: #f0f4f7; /* Lichte achtergrondkleur */
}

.hidden {
    display: none;
}

.btn {
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 25px; /* Rondere knoppen */
    font-size: 18px;
    cursor: pointer;
    background-color: #008C8C; /* Appelblauwzeegroen */
    color: white;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #007373; /* Donkerdere tint bij hover */
}

.ok {
    background-color: green;
}

.nok {
    background-color: red;
}

.status {
    font-size: 20px;
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    color: white;
}
