body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 50px;
    background-color: #A2B2A0; /* Appelblauwzeegroen */
    color: white; /* Kleur van de tekst */
}

.hidden {
    display: none;
}

.btn {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: white; /* Achtergrondkleur van knoppen */
    color: #A2B2A0; /* Kleur van de tekst in knoppen */
    border: none;
    border-radius: 25px; /* Afgeronde hoeken */
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #A2B2A0; /* Hover-effect voor knoppen */
    color: white; /* Hover-effect voor tekst in knoppen */
}

.room {
    margin: 20px 0;
}

.status {
    font-size: 20px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    color: white;
}
